POSTGRES_USER=dev_user
POSTGRES_PASSWORD=dev_password
POSTGRES_DB=transcendance
POSTGRES_PORT=5432

DATABASE_URL=postgresql://dev_user:dev_password@db:5432/transcendance

BACKEND_PORT=4000
FRONTEND_PORT=3000

JWT_SECRET=dev_jwt_secret
JWT_EXPIRES_IN=7d
FRONTEND_ORIGIN=https://localhost:3000
GAME_QUESTION_DURATION_MS=10000
