@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@theme {
  --color-primary: #ef476f;
  --color-secondary: #f78c6b;
  --color-accent: #ffd166;

  --color-success: #7bd389;
  --color-danger: #d62839;
  --color-warning: #ffb703;

  --color-bg: #2b2d42;
  --color-surface: #3a3d5a;
  --color-text: #fff8e7;
  --color-text-muted: #ffd6bf;
  --color-border: #f78c6b;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Outfit", "Segoe UI", sans-serif;
  color: var(--color-text);
  background: var(--color-bg);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

button,
input,
textarea,
select {
  font: inherit;
}
